@using FA.JustBlog.Service
@using FA.JustBlog.Service.IServices
@using FA.JustBlog.Utility
@using FA.JustBlog.ViewModels.Categories
@using FA.JustBlog.ViewModels.Posts
@using FA.JustBlog.ViewModels.Tags
@inject ICategoryService _categoryService
@inject IPostService _postService
@inject ITagService _tagService
@inject IHttpContextAccessor HttpContextAccessor
@{
    ResponseResult<IList<CategoryVM>> categories = _categoryService.GetAll();
    ResponseResult<IList<PostIndexVM>> latestPosts = _postService.GetLatestPost(5);
    ResponseResult<IList<PostIndexVM>> mostViewedPosts = _postService.GetMostViewedPosts(5);
    ResponseResult<IList<TagVM>> tags = _tagService.GetPopularTags(10);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FA.JustBlog.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FA.JustBlog.Web.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" asp-area="Customer" asp-controller="Post" asp-action="Index">JustBlog</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto py-4 py-lg-0">
                    @if (User.IsInRole(SD.ROLE_ADMIN))
                    {
                        <li class="nav-item">
                            <a class="nav-link px-lg-3 py-3 py-lg-4" href="/Admin/Home/Index">Admin</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link px-lg-3 py-3 py-lg-4" asp-area="Customer" asp-controller="Post" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-lg-3 py-3 py-lg-4" asp-area="Customer" asp-controller="Home" asp-action="Privacy">About</a>
                    </li>
                    <partial name="/Areas/Customer/Views/Category/_DropDownCategories.cshtml" model=categories.Data />
                </ul>

                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('../assets/img/home-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Clean Blog</h1>
                        <span class="subheading">A Blog Theme by Start Bootstrap</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3 row">
            <div class="col-lg-9 mx-auto">
                @RenderBody()
            </div>
            <div class="col-lg-3 mx-auto">
                <partial name="_PartialAboutCard" />
                <div class="my-3">
                    <a href="/Customer/Post/MostViewedPost/5" class="post-title">Most Viewed Posts</a>
                    <partial name="/Areas/Customer/Views/Post/_ListPosts.cshtml" model=mostViewedPosts.Data />
                </div>
                <div class="my-3">
                    <a href="/Customer/Post/MostViewedPost/5" class="post-title">Latest Posts</a>
                    <partial name="/Areas/Customer/Views/Post/_ListPosts.cshtml" model="latestPosts.Data" />
                </div>
                <div class="my-3">
                    <h3 class="post-title">Popular Tags</h3>
                    <partial name="/Areas/Customer/Views/Tag/_PopularTags.cshtml" model="tags.Data" />
                </div>
            </div>
        </main>

    </div>

    <!-- Footer-->
    <partial name="_PartialFooter" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.tiny.cloud/1/3dsbv8t0npqvxxs935s2luoialbm8phr0nog3n8fbsjqfqg2/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <!-- Core theme JS-->
    <script src="~/js/scripts.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
