<div class="container">
    <a href="/Customer/Home/AboutCard" class="text-decoration-none pointer-event">
        <img src="https://tophinhanhdep.com/wp-content/uploads/2021/11/Cool-Books-Wallpapers.jpg" class="img-fluid" alt="bg-image" />
        <b class="h1">About Me!</b>
        <p class="fs-4">
            Just me, myself and I, exploring the universe of unknownment. I have a heart of love and a interest
        </p>
    </a>

</div>